<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col">
                <p class="h1">{{one_author.name}}'s Favorites</p>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <th scope="col">Title</th>
                    <th scope="col">Page Count</th>
                </thead>
                <tbody>
                    {% for book in one_author.favorites %}
                    <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.num_of_pages}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <p class="h1">Add New Favorite</p>
            </div>
            <div class="col">
                <form action="/author/add_favorite">
                    <div class="input-group">
                        <select>
                            
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->